body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: black;
  color: white;
  padding: 15px;
  text-align: center;
}

.products, .cart, .checkout {
  padding: 20px;
}

.product {
  background: white;
  padding: 15px;
  border-radius: 10px;
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.product img {
  width: 100%;
}

button {
  background: black;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
}